<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://pimge.xuebei001.com/ios/0.0.1/XBApp-injected-resigned.ipa </string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>
你的服务器下载时URL图片 2倍图
</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>
你的服务器下载时的图片地址
</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xuebeiapp.m</string>
				<key>bundle-version</key>
				<string>0.01</string>
				<key>kind</key>
				<string>教育</string>
				<key>title</key>
				<string>学贝</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
